*{
	font-family:'Source Serif Pro', serif;;

}

html{
 background-image: url("pets2.png");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

body{
	color: darkblue;
	padding: 0;
	margin: 10px;
	text-align: center;

}
.navbarmain{
	background-color: lightblue;
	display: block;
	border: 10px;
	padding: 10px;
}

.logo{
	font-family: font-family: 'Tiro Gurmukhi', serif;
	font-weight: bold;
	font-size: 30px;
	border: 10px;
	padding: 10px;
	border-right: 50px;
}

.nav{
	justify-content: left;
	display: flex;
}

.searchbox{
	border: 10px;
	padding: 10px;
}

#srcbtn, #repbtn {
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
	
}

#container{
	padding: 10px;
	visibility: hidden;
	align-self: center;
	justify-self: center;
}

.table-refresh{
	font-size: 14px;
	align-self: center;
	justify-self: center;
	visibility: visible;
}

.table-refresh_table{
	border-collapse: collapse;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-bottom: 2px solid blue;
	align-self: center;
	justify-items: center;
}

.table-refresh_table thead tr{
	background: lightblue;
}

.table-refresh_table th, td{
	text-align: center;
	padding: 9px 18px;
	
}

