*{
	font-family:'Source Serif Pro', serif;;

}

html{
 background-image: url("pets2.png");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

body{
	color: darkblue;
	padding: 0;
	margin: 10px;
	text-align: center;

}
.navbarmain{
	background-color: lightblue;
	display: block;
	border: 10px;
	padding: 10px;
}

.logo{
	font-family: 'Tiro Gurmukhi', serif;
	font-weight: bold;
	font-size: 30px;
	border: 10px;
	padding: 10px;
	border-right: 50px;
}

.nav{
	justify-content: left;
	display: flex;
}

.searchbox{
	border: 10px;
	padding: 10px;
}

#srcbtn, #repbtn {
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
	
}

#container{
	padding: 10px;
	visibility: hidden;
	align-self: center;
	justify-self: center;
}




#table1{
	width:  800px;
	margin: 30px auto;
	visibility: hidden;
}

#table1 th{
	padding: 10px 0;
	background-color: #f4f4f4;
	/* background-color: #fff; */
	border:  thin solid #d4d4d4;
}

#table1 td{
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 18%;
	text-align: center;
	background-color: #fff;
}

#table1 img{
	width: 100%;
}

